@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --font-01:"Poppins", sans-serif;
    --font-02:"Philosopher", sans-serif;

    /* color */
    --global-color-0:#e41345;
    --global-color-1:#f70077;
    --global-color-2:#1a1a1a;
    --global-color-3:#3e4359;
    --global-color-4:#f7f7f7;
    --global-color-5:#fff;
    --global-color-6:#243673;
    --global-color-7:#bfd1ff;
}

/*------------------------------------------------------------------------- Header css */

header {
    position: absolute;
    /* position: relative; */
    height: 86px;
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    /* background-color: #1a1a1a; */
}

.logo {
    color: var(--global-color-1);
    text-decoration: none;
    font-weight: 600;
    font-size: xx-large;
    font-family: var(--font-02);
    text-shadow: 0.5px 0.5px 3px var(--global-color-1);
    transition: 0.4s;
}

.logo:hover {
    transform: scale(1.1);
}

header ul {
    position: relative;
}

header ul li {
    list-style: none;
    float: left;
    position: relative;
}

header ul li a {
    font-size: 1.1em;
    padding: 20px 25px;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    transition: all 0.5s ease;
}

header ul li a:hover {
    color: var(--global-color-0);
}

header ul li #phoneNumber {
    border: 2px solid var(--global-color-0);
    padding: 20px 35px;
    border-radius: 5px;
    font-size: large;
    font-weight: 700;
    color: #fff;
}

header ul li #phoneNumber:hover {
    background-color: var(--global-color-0);
}

/*------------------------------------------------------------------ main screen section */

.sectionFirst {
   padding: 9rem 0% 20rem; 
   position: relative;
   /* background-color: #272727; */
   color: var(--global-color-4);
   height: 100vh; /* remove later*/
}

.sectionFirst::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--global-color-2);
    z-index: -1;
    opacity: 0.7;
}

.sectionFirst::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--global-color-2); */
    background-image: url("../image/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.3;
}

/* --------------------------------------------------------------.sectionFirst frontPage */

.sectionFirst .frontPage {
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    gap: 2rem;
    max-width: 60%;
}

.sectionFirst .frontPage .address {
    color: var(--global-color-0);
    font-size: 25px;
    line-height: 1.2em;
    font-family: var(--font-02);
}

.sectionFirst .frontPage .heading {
    font-size: 3.24rem;
    font-family: var(--font-02);
    font-weight: 400;
}

.sectionFirst .frontPage .para {}

.sectionFirst .frontPage .btn {
    gap: 2rem;
    display: flex;
    margin-top: 3rem;
}

.sectionFirst .frontPage .btn a {
    border-radius: 7px;
    padding: 17px 30px;
    text-decoration: none;
}

.sectionFirst .frontPage .btn a:nth-child(1){
    border: 1px solid var(--global-color-0);
    background-color: var(--global-color-0);
    color: var(--global-color-4);
    transition: all .4s ease;
}

.sectionFirst .frontPage .btn a:nth-child(1):hover{
    border: 1px solid var(--global-color-1);
    background-color: var(--global-color-1);    
}

.sectionFirst .frontPage .btn a:nth-child(2){
    border: 1px solid var(--global-color-0);
    background-color: var(--global-color-4);
    color: var(--global-color-0);
    transition: all .4s ease;
}

.sectionFirst .frontPage .btn a:nth-child(2):hover{
    border: 1px solid var(--global-color-4);
    background-color: var(--global-color-4);
    color: var(--global-color-1);    
}

/* ----------------------------------------------------------------For Responsive Screen */


@media (max-width:1176px){
    .sectionFirst{
        background-color: var(--global-color-2);
    }

    header {
        padding: 10px;
    }

    header nav {
        position: absolute;
        width: 100%;
        top: 88%;
        left: 0;
        display: none;
    }

    header.active nav {
        display: block;
    }
    
    header ul li {
        width: 100%;
    }
    
    header ul li a {
        border: 1px solid #3e4359;
        position: relative;
        z-index: 3;
        font-weight: 800;
    }
    
    header ul li a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--global-color-1);
        z-index: -1;
        opacity: 0.8;
    }

    header ul li a:hover {
        color: var(--global-color-3);
    }

    header ul li #phoneNumber {
        width: fit-content;
        display: none;
    }
    
    .menuToggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menuToggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        box-shadow: 0 12px #fff;
        transform: translateY(-12px);
    }

    .menuToggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;        
        transform: translateY(12px);
    }

    header.active .menuToggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    header.active .menuToggle::after {
        transform: rotate(315deg);        
    }

}